<!DOCTYPE html>
<html>
<head>
  <title>ItunesCrud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-inverse navbar" role="navigation">
	<div class="navbar-inner">
		<div class="container">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="/apps">Apps</a>
		    <a class="navbar-brand" href="/reviews">Reviews</a>
		  </div>
		</div>
	</div>
</header>

<div class="container master-container">
	<%= yield %>
</div>

<footer class="footer">
    <div class="container">
      <p>Такие дела</p>
    </div>
</footer>

</body>
</html>
